body {
  background-color: rgb(249, 251, 253);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin-top: 50px;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: black;
  font-size: 1.25rem;
}

a:link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: rgb(49, 49, 245);
}

.search-1:hover {
  color: black;
}

.main-header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.codrops {
  margin-left: 85px;
  margin-right: 50px;
  font-size: 25px;
  align-items: center;
}

.middle-header {
  display: flex;
  align-items: center;
  font-size: 10px;
  gap: 30px;
}

.header-el {
  font-size: 18px;
}

.search {
  margin-left: 37rem;
}

.left {
  width: 350px;
  margin-left: 85px;
}

.left-1 {
  background-color: white;
  border: 0.005rem solid black;
  border-radius: 10px;
  padding: 15px 20px;
}

.left-2 {
  border: 0.005rem solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: rgb(200, 206, 246);
}

.size-el1 {
  font-size: 20px;
}

.size-el2 {
  font-size: 15px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 75px;
}

.middle {
  width: 400px;
}

.mid-el {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 35px;
}

.mid-text {
  font-size: 5px;
  line-height: 20px;
}

.attachment-thumbnail {
  border: 0.001rem solid white;
  border-radius: 10px;
}

.sub-text {
  font-size: 15px;
  color: rgb(128, 126, 126);
  margin-top: 0;
  margin-bottom: 0;
}

.subscribe {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-top: 5px;
  margin-left: -130px;
  width: 125px;
  position: absolute;
}

.subscribe:hover {
  background-color: rgb(49, 49, 245);
  border: 1px solid rgb(49, 49, 245);
}

.input-email {
  border: 1px solid rgb(200, 206, 246);
  border-radius: 25px;
  width: 275px;
  padding: 15px;
  position: relative;
}

.right-el1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
  width: 300px;
  font-size: 15px;
  color: white;
  background-color: black;
  line-height: 1.5rem;
  font-weight: 500;
  text-wrap: balance;
}

.cos-img1 {
  border: 0.01rem solid black;
  border-radius: 25px;
}

.footer {
  display: flex;
}
